name: scan

on:
  schedule:
    - cron: "0,15,30,45 * * * *"
  workflow_dispatch: null

jobs:
  scan:
    name: scan
    runs-on: "ubuntu-latest"
    steps:
      - name: turnstyle
        id: turnstyle
        uses: beckermr/turnstyle-python@v1
        with:
          continue-after-seconds: 10
          poll-interval-seconds: 5
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.CF_CURATOR_APP_ID }}
          private_key: ${{ secrets.CF_CURATOR_PRIVATE_KEY }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 100
          token: ${{ steps.generate_token.outputs.token }}

      - name: install micromamba
        if: success() && ! steps.turnstyle.outputs.force_continued
        uses: mamba-org/provision-with-micromamba@main

      - name: configure git and install code
        if: success() && ! steps.turnstyle.outputs.force_continued
        shell: bash -l {0}
        run: |
          python -m pip install -e .

          git config --global pull.rebase false
          git config --global user.email '64793534+conda-forge-daemon@users.noreply.github.com'
          git config --global user.name 'conda-forge-daemon'

      - name: clone libcfgraph
        if: success() && ! steps.turnstyle.outputs.force_continued
        shell: bash -l {0}
        run: |
          curl -L https://github.com/regro/libcfgraph/archive/master.zip -o libcfgraph-master.zip
          unzip -qq libcfgraph-master.zip
          mv libcfgraph-master libcfgraph
          # git clone --depth=1 https://github.com/regro/libcfgraph.git

      - name: scan
        if: success() && ! steps.turnstyle.outputs.force_continued
        shell: bash -l {0}
        run: |
          conda-forge-scan-artifacts \
            -v \
            --pull \
            --libcfgraph-path=libcfgraph \
            --time-limit=5400 \
            --restart-data=scan_data/restart.json \
            --output-path=scan_data/invalid_packages.yaml

          git diff
          git add scan_data/.
          git commit -m "[ci skip] scan data for https://github.com/conda-forge/artifact-validation/actions/runs/${RUN_ID}"
          for _ in `seq 0 1`; do
            git pull
            git push
          done
        env:
          RUN_ID: ${{ github.run_id }}

      - name: bump on fail
        shell: bash -l {0}
        if: github.ref == 'refs/heads/master' && failure() && ! steps.turnstyle.outputs.force_continued
        run: |
          conda-forge-bump-on-fail \
            --job-name=${ACTION_NAME} \
            --job-url="https://github.com/conda-forge/artifact-validation/actions/runs/${RUN_ID}"
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
          RUN_ID: ${{ github.run_id }}
          ACTION_NAME: ${{ github.workflow }}

      - name: trigger next job
        uses: benc-uk/workflow-dispatch@v1
        if: github.ref == 'refs/heads/master' && ! cancelled() && ! failure() && ! steps.turnstyle.outputs.force_continued
        with:
          workflow: scan
          token: ${{ steps.generate_token.outputs.token }}
